header {
    margin-bottom: 4em;
    margin-top: 1em;
}

.container {
    width: 60%;
    margin: auto;
}

.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 675px) {
    .container-flex {
        flex-direction: column;
        gap:20px;
    }
    .container {
        width: 90%;
    }
}
